# production
# export REUNION_APP_ENV=prod
# export REUNION_PRICE_OVERRIDE=
# export PAYPAL_CLIENT_ID=replace-me
# export PAYPAL_CLIENT_SECRET=replace-me

# sandbox
export REUNION_APP_ENV=test
export REUNION_PRICE_OVERRIDE=0.25
export PAYPAL_CLIENT_ID=replace-me
export PAYPAL_CLIENT_SECRET=replace-me

# tools
export PATH="$(pwd):$PATH"
