.App {
  text-align: center;
}

.App-header {
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.button {
  padding: calc(4px + 2vmin);
  margin: 4px;
  font-size: calc(8px + 2vmin);
  transition-duration: 0.2s;
  background-color: #50535a;
  color: white;
}

.button:hover {
  background-color: orange;
  cursor: pointer;
}
