.form {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form > * {
  flex: 1;
  width: 90%;
}

.option-group {
  display: flex;
}

.option-group > * {
  flex: 1;
}

.option {
  display: flex;
  align-items: baseline;
  padding: 4px;
}

.form-field {
  display: flex;
  padding: 4px;
}

.form-field label {
  text-align: right;
}

@media all and (max-width: 600px) {
  .option-group {
    flex-direction: column;
    align-items: center;
  }

  .option-group > * {
    flex: 1 1;
  }
}

@media all and (max-width: 400px) {
  .form-field {
    flex-direction: column;
  }

  .form-field label {
    text-align: center;
  }

  .form-field input {
    width: 70%;
    margin: auto;
  }
}

.form-field > * {
  flex: 1;
  padding: 4px;
  width: 100%;
}
