.form {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form > * {
  flex: 1;
  width: 90%;
}

.options {
  display: flex;
  align-items: flex-start;
}

.options > * {
  flex: 1 1 100%;
  margin: auto;
}

.form-field {
  display: flex;
  padding: 4px;
}

.form-field label {
  text-align: right;
}

@media all and (max-width: 600px) {
  .navigation {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }

  .form-field {
    flex-direction: column;
  }

  .form-field label {
    text-align: center;
  }

  .form-field input {
    width: 50%;
    margin: auto;
  }

  .options {
    flex-direction: column;
  }
}

.form-field > * {
  flex: 1;
  padding: 4px;
  width: 100%;
}
